// Blurb.module.scss

@import '~@fluentui/react/dist/sass/References.scss';
@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.blurbContainer {
  text-align: center;
}

.containerGrid {
  display: flex;
  flex-wrap: wrap;
  // gap: 12px; // Spacing between containers
  justify-content: center;
  justify-items: space-between;
  
  .item {
    flex: 1 1 min-content;
  }

  .container {
    flex: 1 1; // Default: 4 containers per row
    max-width: 200px; // Optional: Set a max width
    min-width: 90px; // Ensures smaller containers on resize
    position: relative;
    margin: 10px;
    padding: 20px;
    width: auto; // Allow flexible width
    cursor: pointer;
    border: 1px solid; // Override with borderColor inline
    transition: border-color 0.3s, box-shadow 0.3s, transform 0.2s ease;

    &.selected {
      border-color: #333;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }

    &:hover .toolbar,
    &.showToolbar .toolbar {
      opacity: 1;
      visibility: visible;
    }

    &:hover {
      transform: scale(1.02); // Slight zoom on hover
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  }

.hovered {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); // Light shadow on hover
  transform: scale(1.02); // Slight enlargement
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;

  &.activeToolbar {
    opacity: 1;
    visibility: visible;
  }
}

.toolbarIcon {
  margin-left: 8px;
  // Remove color styling to allow SharePoint theme to control color
  &:hover {
    color: #f3f2f1;
  }
}

.clickableBlurb {
  text-decoration: none; /* Remove underline from links */
  display: block; /* Ensure the entire block is clickable */
}

.fullWidth {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

// Responsiveness
@media (max-width: 1200px) {
  .container {
    flex: 1 1 calc(33.33% - 12px); // Adjusts to 3 containers per row
  }
}

@media (max-width: 768px) {
  .container {
    flex: 1 1 calc(50% - 12px); // Adjusts to 2 containers per row
  }
}

@media (max-width: 480px) {
  .container {
    flex: 1 1 100%; // Full-width containers on smaller screens
  }
}

}