// Blurb.module.scss

@import '~@fluentui/react/dist/sass/References.scss';
@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.blurbContainer {
  text-align: center;
}

.containerGrid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container {
  position: relative;
  margin: 10px;
  padding: 20px;
  width: 200px;
  cursor: pointer;
  border: 1px solid; // Override with borderColor inline
  transition: border-color 0.3s, box-shadow 0.3s;

  &.selected {
    border-color: #333;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

  &:hover .toolbar,
  &.show-toolbar .toolbar {
    opacity: 1;
    visibility: visible;
  }
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;

  &.activeToolbar {
    opacity: 1;
    visibility: visible;
  }
}

.toolbarIcon {
  margin-left: 8px;
  // Remove color styling to allow SharePoint theme to control color
  &:hover {
    color: #f3f2f1;
  }
}

.clickableBlurb {
  text-decoration: none; /* Remove underline from links */
  display: block; /* Ensure the entire block is clickable */
}